<!DOCTYPE html>
<html>
<head>
	<title>MyHub --- Issues</title>
	<link rel="stylesheet" href="main.css">
	</head>
	<body>
		<h2>All my Issues</h2>

		<p>Now you can access MyHub<p>
		<ul>

	<% issues.each do |issue| %>
	  <li>
	<% if issue["state"] == "open" %>
		<form action="/issue/close/<%= issue[:number] %>" method="post">
        <input type="Submit" value="Close"></form>
	<% elsif issue["state"] == "closed" %>
		<form action="/issue/reopen/<%= issue[:number] %>" method="post">
         <input type="Submit" value="Reopen"></form>

		<% end %>
		<% end %>

	    </li>
		</ul>
	</body>
</head>
</html>

